body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(red,yellow);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.pokep {
    margin: 10px;
    width: 20%;
    padding: 20px;
}

.pokep img {
    width: 100%;
}

#pokechar{
    display: none;
}

h1{
    display: none;
}

.types{
    display: none;
}

#Bellsprout{
    background-color: #ad4bd4;
}
#Bullbasaur{
    background-color: #0644b8;
}
#Caterpie{
    background-color: #ff7645;
}
#Dratini{
    background-color: #e29c37;
}
#Eevee{
    background-color: #5e4e01;
}
#Mankey{
    background-color: #dfa609;
}
#Mew{
    background-color: #4eb413;
}
#Pidgey{
    background-color: #f13939;
}
#Pikachu{
    background-color: #05af52;
}
#Rattata{
    background-color: #4a018a;
}
#Squirtle{
    background-color: #2e6ada;
}
#Venonat{
    background-color: #f186c5;
}
.water{
    background-color: darkblue;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}
.fighting{
    background-color: brown;
    width: 70px;
    text-align: center;
    border-radius: 10px;
}
.psychic{
    background-color: rgb(4, 51, 47);
    width: 60px;
    text-align: center;
    border-radius: 10px;
}
.flying{
    background-color: rgb(16, 4, 88);
    width: 70px;
    text-align: center;
    border-radius: 10px;
}
.normal{
    background-color: rgb(65, 34, 34);
    width: 100px;
    text-align: center;
    border-radius: 10px;
}
.bug{
    background-color: rgb(98, 173, 98);
    width: 50px;
    text-align: center;
    border-radius: 10px;
}
.poison{
    background-color: purple;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}
.electric{
    background-color: #4d4a0c;
    width: 70px;
    text-align: center;
    border-radius: 10px;
}
.grass{
    background-color: green;
    border-radius: 10px;
    width: 50px;
    text-align: center;
}
.dragon{
    background-color: #9c4444;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}
@media (max-width: 700px) {
    .container {
        display: flex;
    }
    .pokep{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .pokep img {
            width: 20%;    
    }
    h1 {
        display: block;
        align-items: center;
    }
    #pokechar{
        display: block;
    }
    .pokep:hover img {
        transform: scale(1.1);
    }
    .pokep:hover img {
        transform: scale(1.1);
    }
    .pokep:hover {
        background-image: url('https://tcg.pokemon.com/assets/img/home/wallpapers/wallpaper-50.jpg');
        background-size: cover;
        align-items: center;
}
.pokechar:hover {
    background-image: url('https://tcg.pokemon.com/assets/img/home/wallpapers/wallpaper-50.jpg');
    background-size: cover;
    align-items: center;
}
}

@media (max-width: 500px) {
    .container {
        justify-content: center;
        align-items: center;
    }
    .pokep:hover {
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
    }
    .types{
        display: block;
        color: white;
    }

    #pokeball{
    display: none;
}
    .pokep{
        align-items: center;
        flex-direction: column;
    }
    .pokep img { 
            width: 40%;
    }
    h1 {
        display: block;
        align-items: center;
}
}